<form method="post" action="login.php">
    username: <input name="user" type="text">
    password: <input name="password" type="text">
    database name: <input name="database" type="text">
    <input type="submit">
 </form>